@media (max-width: 935px) {
    .top-bar {
        width: 100%;
        padding: 0 22px;
    }
    
    .container {
        justify-content: center;
        
        width: 614px;
    }

    .side-bar {
        display: none;
    }

    /* Hidden mobile stuff */
    .mobile-top-bar {
        display: none;
    }

    .mobile-navigation {
        display: none;
    }
}